# This is a basic workflow to help you get started with Actions
name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Confirm CI
        run: echo "GitHub Actions CI is working"
